force-app/main/default/flows/Create_Reship_Order_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Shipping_Price</name>
        <label>Calculate Shipping Price</label>
        <locationX>2840</locationX>
        <locationY>44</locationY>
        <actionName>ShippingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Shipping_Price_Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Input_Representation_to_List</name>
        <label>Add Input Representation to List</label>
        <locationX>2659</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>fulfillItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fulfillItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OIS_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_orderItemsSummary_to_alreadyAddedOrderItemList</name>
        <label>Add orderItemsSummary to alreadyAddedOrderItemList</label>
        <locationX>3352</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>alreadyAddedOrderItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillItems_Inner_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inner_OrderItemSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Available_Delivery_Groups</name>
        <label>Add to Available Delivery Groups</label>
        <locationX>732</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>AvailableOrderDeliveryGroupSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberAvailableOrderDeliveryGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_ODGS</name>
        <label>Assign Selected ODGS</label>
        <locationX>1288</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_One_SelectedOrderDeliveryGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_One_SelectedOrderDeliveryGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Outer_FulfillItems</name>
        <label>Assignment Outer FulfillItems</label>
        <locationX>2856</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>outerLoopLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillItems_Outer_Loop.locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outerLoopOrderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillItems_Outer_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_OrderItemSummary_processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsSingleDeliveryGroup</name>
        <label>IsSingleDeliveryGroup</label>
        <locationX>1171</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>SingleDeliveryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_One_SelectedOrderDeliveryGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Error_Message_Assignment</name>
        <label>Location Error Message Assignment</label>
        <locationX>2172</locationX>
        <locationY>1360</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Empty_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Empty_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReship_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Delivery_Groups_Error_Message</name>
        <label>No Delivery Groups Error Message</label>
        <locationX>939</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_noDeliveryGroupsToReship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_noDeliveryGroupsToReship_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReship_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Summary_Input_Representation</name>
        <label>Set Item Summary Input Representation</label>
        <locationX>2487</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>fulfillItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fulfillItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Input_Representation_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_2_As_Stage_1</name>
        <label>Set Stage 2 As Stage 1</label>
        <locationX>1428</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Items_In_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_1</name>
        <label>Set Stage To Part 1</label>
        <locationX>1095</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Group_Select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_2</name>
        <label>Set Stage To Part 2</label>
        <locationX>1675</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Part 3</label>
        <locationX>1960</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_4</name>
        <label>Set Stage To Part 4</label>
        <locationX>3250</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FulfillItems_Outer_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>158</locationX>
        <locationY>1218</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>263</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToReship_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>RemoveStage4</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Any_Delivery_Groups_To_Fulfill</name>
        <label>Are Any Delivery Groups To Fulfill</label>
        <locationX>852</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoDeliveryGroups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableOrderDeliveryGroupSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Delivery_Groups_Error_Message</targetReference>
            </connector>
            <label>NoDeliveryGroups</label>
        </rules>
        <rules>
            <name>DeliveryGroupsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableOrderDeliveryGroupSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_1</targetReference>
            </connector>
            <label>DeliveryGroupsAvailable</label>
        </rules>
        <rules>
            <name>OneAvailableDeliveryGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsSingleDeliveryGroup</targetReference>
            </connector>
            <label>OneAvailableDeliveryGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Any_Items_To_Fulfill_in_ODGS</name>
        <label>Are Any Items To Fulfill in ODGS</label>
        <locationX>625</locationX>
        <locationY>773</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Available_Delivery_Groups</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Empty_Locations</name>
        <label>Check Empty Locations</label>
        <locationX>2290</locationX>
        <locationY>1087</locationY>
        <defaultConnector>
            <targetReference>Get_Location_Group_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Not Empty</defaultConnectorLabel>
        <rules>
            <name>Locations_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Locations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Error_Message_Assignment</targetReference>
            </connector>
            <label>Locations Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_LocationIds_Match</name>
        <label>Check for LocationIds Match</label>
        <locationX>3245</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>FulfillItems_Inner_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LocationIdsDoNotMatch</defaultConnectorLabel>
        <rules>
            <name>LocationIdsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outerLoopLocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FulfillItems_Inner_Loop.locationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_orderItemsSummary_to_alreadyAddedOrderItemList</targetReference>
            </connector>
            <label>LocationIdsMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OrderItemSummary_processed</name>
        <label>Check if OrderItemSummary processed</label>
        <locationX>2849</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already OrderItemSummary Not Processed</defaultConnectorLabel>
        <rules>
            <name>Already_OrderItemSummary_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>alreadyAddedOrderItemList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>outerLoopOrderItemSummaryId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FulfillItems_Outer_Loop</targetReference>
            </connector>
            <label>Already OrderItemSummary Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location_groups_empty_or_not</name>
        <label>Check Location groups empty or not</label>
        <locationX>2115</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Get_Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Group Not Empty</defaultConnectorLabel>
        <rules>
            <name>Location_Group_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationGroupsValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Locations</targetReference>
            </connector>
            <label>Location Group Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>159</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <interviewLabel>Create Reship Order Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Reship Order Clone</label>
    <loops>
        <name>FulfillItems_Inner_Loop</name>
        <label>FulfillItems Inner Loop</label>
        <locationX>3557</locationX>
        <locationY>468</locationY>
        <collectionReference>fulfillItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_LocationIds_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_FO_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FulfillItems_Outer_Loop</name>
        <label>FulfillItems Outer Loop</label>
        <locationX>3138</locationX>
        <locationY>198</locationY>
        <collectionReference>fulfillItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Outer_FulfillItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_One_SelectedOrderDeliveryGroup</name>
        <label>Loop One SelectedOrderDeliveryGroup</label>
        <locationX>1285</locationX>
        <locationY>412</locationY>
        <collectionReference>AvailableOrderDeliveryGroupSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_ODGS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Stage_2_As_Stage_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>594</locationX>
        <locationY>553</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>Get_Order_Delivery_Group_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Any_Delivery_Groups_To_Fulfill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OIS_Assignment_Loop</name>
        <label>OIS Assignment Loop</label>
        <locationX>2569</locationX>
        <locationY>581</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Item_Summary_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Location_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>3049</locationX>
        <locationY>546</locationY>
        <assignRecordIdToReference>loopFulfillmentOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>FulfillItems_Inner_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Order_Summary_Object.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryMethodId</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.OrderDeliveryMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledFromLocationId</field>
            <value>
                <elementReference>FulfillItems_Outer_Loop.locationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToName</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReship</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>FulfillItems_Outer_Loop.locationType</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Inner_Create_Fulfillment_Order_Item</name>
        <label>Inner Create Fulfillment Order Item</label>
        <locationX>3843</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>FulfillItems_Inner_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>loopFulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemSummaryId</field>
            <value>
                <elementReference>FulfillItems_Inner_Loop.orderItemSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalQuantity</field>
            <value>
                <elementReference>Get_Inner_OrderItemSummary.QuantityOrdered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>FulfillItems_Inner_Loop.quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalLineAmount</field>
            <value>
                <elementReference>ZeroQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Inner_OrderItemSummary.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeCode</field>
            <value>
                <elementReference>Get_Inner_OrderItemSummary.TypeCode</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Inner_OrderItemSummary</name>
        <label>Get Inner OrderItemSummary</label>
        <locationX>3758</locationX>
        <locationY>835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inner_Create_Fulfillment_Order_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillItems_Inner_Loop.orderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Items_In_ODGS</name>
        <label>Get Items In ODGS</label>
        <locationX>1565</locationX>
        <locationY>568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_To_Part_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuantityAvailableToReship</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Location Assignments</description>
        <name>Get_Location_Group_Assignments</name>
        <label>Get Location Group Assignments</label>
        <locationX>2396</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OIS_Assignment_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <object>LocationGroupAssignment</object>
        <outputReference>locationGroupsAssigmentValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationExternalReference</queriedFields>
        <queriedFields>LocationGroupAssignment</queriedFields>
        <queriedFields>LocationGroupId</queriedFields>
        <queriedFields>LocationGroupName</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>LocationName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Location Groups</description>
        <name>Get_Location_Groups</name>
        <label>Get Location Groups</label>
        <locationX>2244</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Location_groups_empty_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <object>LocationGroup</object>
        <outputReference>locationGroupsValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>LocationGroupName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>2249</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Empty_Locations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>425</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Get_Order_Product_Summaries</label>
        <locationX>471</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Items_To_Fulfill_in_ODGS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReship</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary Object</label>
        <locationX>176</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Valid_Order_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FO_Status</name>
        <label>Update FO Status</label>
        <locationX>3495</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>FulfillItems_Outer_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopFulfillmentOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>3488</locationX>
        <locationY>88</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;You&apos;re all set! The reship fulfillment order has been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer5</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Group_Select</name>
        <label>Delivery Group Select</label>
        <locationX>1257</locationX>
        <locationY>79</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Items_In_ODGS</targetReference>
        </connector>
        <fields>
            <name>DeliveryGroupSelectHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select a shipping address to reship items to.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deliveryGroupSelect</name>
            <extensionName>runtime_commerce_oms:deliveryGroupSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>RESHIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>AvailableOrderDeliveryGroupSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummary</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummaries</assignToReference>
                <name>selectedOrderDeliveryGroupSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
                <name>selectedOrderDeliveryGroupSummary</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>939</locationX>
        <locationY>1373</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_Selection</name>
        <label>Location Selection</label>
        <locationX>2661</locationX>
        <locationY>44</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Calculate_Shipping_Price</targetReference>
        </connector>
        <fields>
            <name>selectFulfillLocationHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the quantity to reship and a fulfillment location.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fulfillLocationSelection</name>
            <extensionName>runtime_commerce_oms:locationWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fulfillItemList</name>
                <value>
                    <elementReference>fulfillItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationGroups</name>
                <value>
                    <elementReference>locationGroupsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>RESHIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyOci</name>
                <value>
                    <elementReference>applyOCI</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>fulfillItems</assignToReference>
                <name>fulfillItemList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <elementReference>IsLocationPageSubmit</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>1736</locationX>
        <locationY>110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <fields>
            <name>ProductsSelectHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Select the items to reship.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>RESHIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Get_Items_In_ODGS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shipping_Price_Confirmation_Screen</name>
        <label>Shipping Price Confirmation Screen</label>
        <locationX>3050</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_4</targetReference>
        </connector>
        <fields>
            <name>Shipping_Price_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(5, 182, 0); font-size: 36px;&quot;&gt;The price to reship will be {!Calculate_Shipping_Price}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_rs__Reship_FO</sourceTemplate>
    <stages>
        <name>Part_1</name>
        <isActive>false</isActive>
        <label>Select Shipping Address</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>false</isActive>
        <label>Select Products to Reship</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>false</isActive>
        <label>Select Fulfillment Locations</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>false</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please close this window and check the Order Summary page for updated information.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_noDeliveryGroupsToReship</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;When an order has items you can reship, you can find them here.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_noDeliveryGroupsToReship_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nothing to Reship&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can only run this flow on a managed order summary.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The specified order summary is unmanaged.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This is where you&apos;d cancel items from an order. To cancel an order, start from the Order Summary page.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We don&apos;t think you meant to come here.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fulfillment_Order_Creation_Error_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The system encountered an error while creating Fulfillment Orders.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fulfillment_Order_Creation_Error_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Fulfillment Order creation is unsuccessful.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Empty_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can only run this flow for the orgs with Locations available.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Empty_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Locations are not available for this org.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Groups_Empty_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can only run this flow for the orgs with Location groups available.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Groups_Empty_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Location groups are not available for this org.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>alreadyAddedOrderItemList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applyOCI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AvailableOrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillItem</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillItems</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroups</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderCreationErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fulfillment Order creation is unsuccessful.</stringValue>
        </value>
    </variables>
    <variables>
        <name>FulfillmentOrdersOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsLocationPageSubmit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Location Groups Assignment Values</description>
        <name>locationGroupsAssigmentValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroupAssignment</objectType>
    </variables>
    <variables>
        <description>Location Groups Values</description>
        <name>locationGroupsValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroup</objectType>
    </variables>
    <variables>
        <description>loopCounter</description>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>loopFulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>null</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NumberAvailableOrderDeliveryGroups</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentationList</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outerLoopLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>131xx0000004FoLAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>outerLoopOrderItemSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>SingleDeliveryGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ZeroQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
